@font-face { font-family: White-Buttell; src: url('/public/White\ Buttell.ttf'); } 
@font-face { font-family: Venice-Serif-Medium; src: url('/public/VeniceSerif-Medium.ttf'); } 

body{
    background-color: #f1faee;
    color: #1d3557;
}

*{
    margin: 0;
    padding: 0;
}

#main{
    min-height: 100vh;
    display: grid;
    font-size: 1.5rem;
    padding-left: 8px;
    padding-right: 8px;
}

#aufgabenMain{
    display: grid;
    font-size: 1.5rem;
    padding-left: 8px;
    padding-right: 8px;
}


.side-menu{
    position: fixed;
    right: 80px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: calc(100% - 80px);
    background-color: #1d3557;
    z-index: 99;
    padding-top: 48px;
    transition: 250ms ease-in-out;
    overflow: hidden;
}

#menuImg1{
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 6px;
}

.side-menu-hidden{
    right: 100%;
}

.side-menu ul{
    margin: 24px 16px;
}

.side-menu li{
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #f1faee;
}

.side-menu a{
    color:  #f1faee;
    font-size: 1.5rem;
    text-decoration: none;
}

img, video{
    display: block;
    opacity: 1;
}

#headerWrap{
    position: relative;
}

#aufgabenHeaderWrap{
    position: relative;
    height: auto;
}

#headerImg{
    position: absolute;
    right: 16px;
    top: 64px;
    width: 48px;
    height: auto;
    transform: rotateZ(25deg);
}

#headerImgLeft{
    position: absolute;
    left: 16px;
    top: 64px;
    width: 56px;
    height: auto;
    transform: rotateZ(-25deg);
}

#aufgabenHeaderImg{
    position: absolute;
    right: 16px;
    top: 24px;
    width: 48px;
    height: auto;
    transform: rotateZ(25deg);
}

#aufgabenHeaderImgLeft{
    position: absolute;
    left: 8px;
    top: 24px;
    width: 56px;
    height: auto;
    transform: rotateZ(-25deg);
}

#countdownWrap{
    position: relative;
    overflow: hidden;
    display: grid;
}

#countdownImgLeft{
    position: absolute;
    left: 16px;
    top: 24px;
    width: 72px;
    height: auto;
    transform: rotateZ(-25deg);
}

#countdownImgRight{
    position: absolute;
    right: 16px;
    top: 24px;
    width: 72px;
    height: auto;
    transform: rotateZ(25deg);
}


h2{
    text-align: center;
    font-family:  White-Buttell, sans-serif;
    margin-bottom: 8px;
    margin-top: 16px;
}

#navMainWrap{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-family:  Venice-Serif-Medium, sans-serif;
    font-size: 1.3rem;
    border-bottom: 1px solid #D8E0D5;
    position: sticky;
    top: 0px;
    background-color:  #f1faee;
    z-index: 100;
}

#navHeader{
    margin: 0;
    padding: 0 16px;
}

#navHamburger{
    width: 32px;
    height: 32px;
    padding: 8px 8px;
}

#birthday-song, #birthday-song-jan{
    align-self: center;
    justify-self: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

#skeletor{
    transition: 500ms;
    justify-self: center;
    align-self: center;
}

.skeletor-invisible{
    display: none;
    opacity: 0;
}

#footerMainWrap{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#aufgabenFooterMainWrap{
    width: 100%;
    display: grid;
    position: fixed;
    background-color:#f1faee;
    bottom: 0px;
    justify-content: center;
    align-items: center;
}

#footerMainWrap p, #aufgabenFooterMainWrap p {
    font-family:  White-Buttell, sans-serif;
}

#countdown{
    margin: 24px;
    padding: 16px;
    border: 2px solid #1d3557;
    font-size: 20px;
    display: inline-block;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-decoration: none;
}

#quizWrap{
    margin: 8px 16px;
}

#quizQuestion{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

#quizForm input{
    margin: 12px 0 12px 0;
}

#quizForm .quizLabel{
    font-size: 1.2rem;
}

#quizForm p{
    font-size: 1rem;
    text-align: center;
    margin-top: 8px;
    font-family:  Venice-Serif-Medium, sans-serif;
}

#quizButton, #explanationButtonWrong, #explanationButtonRight, #playAgainBtn{
    outline: none;
    background-color: #1d3557;
    border: 1px solid #1d3557;
    border-radius: 4px;
    color:  #f1faee;
    padding: 8px;
}

#quizBtnWrap{
    display: flex;
    justify-content: center;
    align-content: center;
}


.hide-quiz{
    display: none;
}

#wrongAnswer p{
    font-size: 1.25rem;
    margin: 16px 16px;
}

#shitEmoji{
    font-size: 4rem !important;
    text-align: center;
}

#richtig{
    margin-top: 16px;
}

#gutGemacht{
    margin-bottom: 16px;
}

#correctAnswer{
    font-size: 1.25rem;
    margin: 16px 16px;
}

.quizLabel{
    display: inline;
    font-family: 'Times New Roman', Times, serif !important;
}

#passed, #failed{
    margin: 16px 16px;
    text-align: center;
}

#playAgainBtn{
    margin-top: 16px;
}

.hide-countdown{
    display: none !important;
}